[mpc_env]

pref_speed = 0.90
        # robot preferred speed

max_speed = 1
        # robot maximum speed

max_rev_speed = 1
        # robot maximum reverse speed

max_rot_degrees = 3.14
        # robot maximum rotation in one time-step in degrees

max_l_acc = 0.5
        # robot maximum linear acceleration (m/s)

max_l_dcc = 1.5
        # robot maximum linear deceleration NB must be negative (m/s)

mpc_horizon = 10
        # mpc pred horizon for each MPC solve step

max_mp_steps = 5000
        # max iterations for each MPC solve step

max_humans = 10
        # max humans predefined for casadi parameter

max_human_distance = 5
        # max distance for robot observation

max_human_groups = 10
        # max humans predefined for casadi parameter

max_obs_distance = 3
        # robot has a observation distance. The human outside this distance cannot be observed.

w_goal = 1.0
        # weight for goal cost

w_safe = 1.0
        # weight for safety cost

w_follow = 1.0
        # weight for following group

w_smooth = 0.1
        # weight for smooth traj cost

obs_radius = 10
        # observation radius of robot

group_target_threshold = 0.3
        # used when checking whether to follow a group when it is closer to goal

group_robot_threshold = 3
        # used when checking which ones are nearby groups

group_vel_threshold = 0.2
        # used to check whether group is static or moving